.bx--header ~ .bx--content {
    margin-top: 3rem;
}
.bx--content {
    padding: 2rem;
    background: #f4f4f4;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    will-change: margin-left;
}

.bx--grid { margin-right: auto; margin-left: auto; max-width: 99rem; padding-right: 1rem; padding-left: 1rem; }

@media (min-width: 42rem) { .bx--grid { padding-right: 2rem; padding-left: 2rem; } }

@media (min-width: 99rem) { .bx--grid { padding-right: 2.5rem; padding-left: 2.5rem; } }

@media (min-width: 99rem) { .bx--grid--full-width { max-width: 100%; } }
